/* цвет основного текста #757575;
вторичный цвет #212121;
белый  #FFFFFF;
голубой #2196F3;
белый с прозрачностью  255,255,255,0,6;

 */
/* цвет фона кнопок #F5F4FA;
 */
/* вторичный цвет фона background: #2F303A;
;
 */
/* кастомные св-ва css переменных - с их помощью можем хранить какие-то значения,
 пример (свойство+значение):
 /* :root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    
    далее в файле css: 
    .logo {
        color: var(--accent-color); 
       } 
*/
/* styles for index.html---> */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: var(--background-color);
  letter-spacing: 0.06rem;
  outline: 2px solid tomato;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .hero-title {
  margin: 0 auto;
  max-width: 696px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
}
.hero .main-button {
  margin-top: 30px;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}
.feature-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature-list {
  display: flex;
  align-items: center;
  padding: 0px;
}
.feature-list .title {
  margin: 0;
  padding-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}
.feature-list p {
  padding-right: 30px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.section-title {
  color: var(--title-text-color);
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.list-images {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  padding-top: 50px;
  padding-bottom: 94px;
}
.list-images > .item-img {
  margin-left: 30px;
  flex-basis: calc(100% / 3- 30px);
}
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.team-list-img {
  width: 270px;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-cards {
  text-align: center;
  padding: 30px 59px;
}
.team-list .team {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 30px;
}
.team-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 10px;
}
.footer-adress {
  background: var(--background-color);
}
.adress-item {
  padding-top: 20px;
}
.adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.site-adress {
  color: var(--white-color);
}
.feed-back-item {
  padding-top: 9px;
}
.feed-back {
  color: var(--feed-back-color);
}

/* styles for portfolio.html ---> */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.site-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-items {
  margin-left: 8px;
}
.site-buttons .button {
  color: var(--title-text-color);
  margin: 0 auto;
  padding: 6px 22px;
  background-color: var(--buttons-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: #ffffff;
  border-radius: 4px;
}
.site-buttons .button:hover,
.site-buttons .button:focus {
  background: var(--accent-color);
  color: var(--white-color);
}
.portfolio {
  padding: 94px 0px;
}
.list-content {
  display: flex;
  flex-wrap: wrap;
}
.list-content-item {
  max-width: 370px;
  min-height: 404px;
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.list-content-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.list-content-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.content-portfolio {
  padding: 20px 24px;
}

.list-content .project-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}
.list-content .type {
  margin-top: 4px;
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
